{% extends 'base/base.html' %} {% load static %} {% block body %}
<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'base/images/bg_1.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <h1 class="mb-0 bread" id="title">Cotação USD/BRL</h1>
            </div>
        </div>
    </div>
</section>
<div class="justify-content-center col-md-12" style="margin-top: 25px; margin-right: 10px">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="contact-wrap w-100 p-4">
                <form method="POST" id="cotacoesForm" name="cotacoesForm" class="cotacoesForm">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label" for="moedaBase">Moeda Base</label>
                                <select class="form-control" name="moedaBase" id="moedaBase" required placeholder="Moeda Base">
                                    {% for moeda in moedas %}
                                    <option value="{{ moeda.codigo }}">{{ moeda.moeda }} - {{ moeda.simbolo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label" for="moeda">Moeda</label>
                                <select class="form-control" name="moeda" id="moeda" required placeholder="Moeda">
                                    {% for moeda in moedas %}
                                    <option value="{{ moeda.codigo }}">{{ moeda.moeda }} - {{ moeda.simbolo }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label" for="dataInicial">Data Inicial</label>
                                <input type="date" class="form-control" name="dataInicial" id="dataInicial" required placeholder="Data Inicial" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="label" for="dataFinal">Data Final</label>
                                <input type="date" class="form-control" name="dataFinal" id="dataFinal" required placeholder="Data Final" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters">
            <div class="highcharts" id="highcharts" style="width: 100%; padding: 25px; height: 500px"></div>
        </div>
    </div>
</section>
{% endblock %} {% block script %}
<script src="{% static 'base/js/home.js' %}?v={{ version }}"></script>
{% endblock %}
